@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blinker:wght@300&Lato:wght@300&family=Teko&display=swap');

body,
html {
    height: 100%;
    font-family: "Lato";
}

/* RESPONSIVE MEDIAS */
.Media {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  
    background: #1a1a1a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51);
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 73, 73);
  }
  


.bg {
    background-image: url("./bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Teko', sans-serif;
}

.paragraph {
    font-family: "Blinker", sans-serif;
}

.paypal-donate {
  color: inherit;
  transform-origin: bottom;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

.paypal-donate:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-7px);}
  100% { transform: translateY(0);}
}

a.visited, a.link, a {
  color: #6FFFB0;
}